@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 70rem;
    padding: 0 2rem;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

header::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 25;
}

.hegy1 {
    position: absolute;
    bottom: -260px;
    width: 2500px;
    right: 0;
    z-index: 19;
}

.person {
    position: absolute;
    width: 2000px;
    bottom: -140px;
    left: -70px;
    z-index: 20;
}

.hegy2 {
    position: absolute;
    width: 3000px;
    bottom: -400px;
    left: 0;
    z-index: 18;
}

.hegy3 {
    position: absolute;
    width: 3500px;
    bottom: -700px;
    right: -500px;
    z-index: 17;
}

.sky {
    position: absolute;
    width: 4000px;
    bottom: -250;
    left: 0;
}

nav {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    background-color: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    -webkit-text-stroke: 0.3px black;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    width: 1.85rem;
    height: 1.8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bar {
    position: relative;
    width: 1.5rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}

.bar::before, .bar::after {
    content: '';
    position: absolute;
    width: 1.85rem;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    right: 0;
}

.bar::before {
    transform: translateY(-8px);
}

.bar::after {
    transform: translateY(8px);
}

.big-title {
    position: absolute;
    z-index: 30;
    line-height: 6rem;
    top: calc(50% - 2rem);
    width: 100%;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    color: rgb(219, 219, 219);
    -webkit-text-stroke: 2px #000;
}

section {
    width: 100%;
    background: #151515;
    position: relative;
}

section .container {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section img {
    width: 100%;
}

section .container > * {
    margin: 2rem;
}

.content {
    color: #fff;
    transform: translateY(-50px);
}

.imgContainer {
    transform: translateY(50px);
}

.title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
    position: relative;
}

.border {
    position: absolute;
    width: 30%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
}

.shadow {
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.opacity {
    opacity: 0;
}

@media (max-width: 850px) {
    section .container {
        grid-template-columns: 1fr;
    }
    .person {
        bottom: -150px;
    }
    .big-title {
        font-size: 5rem;
    }
}

@media (max-width: 470px) {
    .big-title {
        font-size: 3rem;
    }

    .text {
        font-size: .8rem;
    }

    .title {
        font-size: 1.2rem;
    }
    .person {
        left: -150px;
    }
    .border {
        width: 100%;
    }
}